::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #849d8f;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.none {
  display: none;
}

.page-wrapper {
  width: 100%;

  transition: all 0.2s;

  background-repeat: no-repeat;
  background-position: top center;
}

#promotions-slide1--togle:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/promotions-icecream-1.png");
}

#promotions-slide2--togle:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/promotions-icecream-2.png");
}

#promotions-slide3--togle:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/promotions-icecream-3.png");
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-direction: column;

  padding: 9px 2.3%;
}

.main-header .container {
  display: flex;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.main-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  color: #fff;

  font-size: 16px;
  line-height: 18px;
}

.site-navigation {
  display: flex;

  padding: 5px 0 0 10px;

  list-style: none;
}

.site-navigation a {
  padding: 6px 13.5px 8px;

  text-decoration: underline;

  color: #fff;
  border-radius: 18px;

  font-weight: 700;
  text-decoration-color: rgb(255 255 255 / 30%);
}

.site-navigation a:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.site-navigation a:active {
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: inset 0 3px 2px rgb(0 0 0 / 50%);
}

.user-navigation {
  display: flex;

  list-style: none;
}

.user-navigation li {
  margin-left: 9px;
}

.user-navigation button {
  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: rgb(255 255 255 / 20%);

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.user-navigation button:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.main-header-button--search {
  position: relative;

  width: 32px;
  height: 32px;
}

.main-header-button--search::before {
  position: absolute;
  top: 7px;
  left: 7px;

  content: url("../img/loupe.svg");
}

.main-header-button--search:hover::before {
  content: url("../img/loupe--black.svg");
}

.main-header-button--login,
.main-header-button--basket {
  position: relative;

  padding: 8px 17px 8px 45px;
}

.main-header-button--login::before {
  position: absolute;
  top: 5px;
  left: 17px;

  content: url("../img/entrance.svg");
}

.main-header-button--login:hover::before {
  content: url("../img/entrance--black.svg");
}

.main-header-button--basket::before {
  position: absolute;
  top: 5px;
  left: 17px;

  content: url("../img/basket.svg");
}

.main-header-button--basket:hover::before {
  content: url("../img/basket-red.svg");
}

.header-information {
  display: flex;
  justify-content: right;

  text-align: right;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.header-information p {
  margin: 0;
  margin-bottom: -11px;
}

.header-information span {
  font-size: 22px;
  line-height: 24px;
}

.button {
  cursor: pointer;
  text-decoration: none;

  color: #fff;

  border: none;
  border-radius: 31px;
  background: linear-gradient(#f26843, #e74b36);
  box-shadow: 0 2px 2px rgb(172 16 0 / 60%);
  text-shadow: 0 2px 5px rgb(160 32 11 / 70%);

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.button:hover {
  background: linear-gradient(#f58669, #ec6f5e);
}

.button:active {
  background: linear-gradient(#d74632, #e1613e);
  box-shadow: inset 0 3px 2px rgb(0 0 0 / 50%);
}

.promotions-slider {
  position: relative;

  padding: 206px 2.3% 25px;

  list-style: none;

  text-align: center;

  font-weight: 700;
}

.promotions-slider .promotions-slider--slide {
  display: none;
}

.promotions-slider h3 {
  margin-bottom: 37px;

  font-size: 60px;
  line-height: 60px;
}

.promotions-slider a {
  padding: 10px 40px 14px;

  font-size: 32px;
  line-height: 44px;
}

.slider-control {
  position: absolute;
  z-index: 3;
  top: 436px;
  left: 28px;
}

.slider-control label {
  display: inline-block;

  width: 20px;
  height: 20px;
  margin-right: 5px;

  cursor: pointer;

  border: 2px solid white;
  border-radius: 50%;
}

.slider-control label:hover {
  background-color: rgb(255 255 255 / 30%);
}

#promotions-slide1--togle:checked ~ .page-wrapper label[for="promotions-slide1--togle"],
#promotions-slide2--togle:checked ~ .page-wrapper label[for="promotions-slide2--togle"],
#promotions-slide3--togle:checked ~ .page-wrapper label[for="promotions-slide3--togle"] {
  background-color: rgb(255 255 255);
}

#promotions-slide1--togle:checked ~ .page-wrapper #promotions-slide1,
#promotions-slide2--togle:checked ~ .page-wrapper #promotions-slide2,
#promotions-slide3--togle:checked ~ .page-wrapper #promotions-slide3 {
  display: block;
}

.best-offers {
  position: relative;

  padding: 28px 2.3% 13px;

  font-weight: 700;
}

.best-offers .container {
  display: flex;
  justify-content: space-between;
}

.best-offers .container--item {
  position: relative;

  width: 560px;
  height: 229px;
  padding: 16px;
}

.raspberries {
  background-image: url("../img/raspberries.png");
}

.chocolate {
  background-image: url("../img/chocolate.png");
}

.best-offers h3 {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
}

.best-offers p {
  margin: 0;
  padding: 15px 0 0 5px;

  font-size: 18px;
  line-height: 22px;
}

.best-offers a {
  position: absolute;
  right: 21px;
  bottom: 24px;

  padding: 11px 22px;
}

.hits {
  padding: 10px 2.3% 5px;
}

.hits ul {
  padding: 0;

  list-style: none;
}

.hits a {
  display: block;

  text-decoration: underline;

  color: white;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration-color: rgb(255 255 255 / 40%);
}

.hits p.hits-list--item-link {
  margin-top: 10px;

  text-align: center;
}

.hits-list {
  display: flex;
  justify-content: space-between;
}

.hits-list--item {
  position: relative;
}

.hits-list--item::before {
  position: absolute;

  content: url("../img/hit.svg");
}

.hits-list--item-cost {
  position: absolute;
  top: 165px;

  text-shadow: rgb(0 0 0 / 40%) 1px 0 3px;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.hits-list--item-cost span {
  margin-left: -10px;

  font-size: 30px;
}

.advantages {
  padding: 0 2.3% 20px;

  color: #323232;
}

.advantages .container {
  width: 1146px;
  height: 306px;

  background-image: url("../img/waffle.png");
}

.advantages p {
  margin: 0;
  padding: 25px 20px 0;

  letter-spacing: 0.1px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 8px 20px 20px;

  list-style: none;
}

.advantages-list--item {
  position: relative;

  padding: 12px 20px 10px 55px;
}

.advantages-list--item-icecream::before,
.advantages-list--item-cow::before,
.advantages-list--item-eco::before,
.advantages-list--item-therm::before {
  position: absolute;
  top: 0;
  left: 0;
}

.advantages-list--item-icecream::before {
  content: url("../img/ice-cream.svg");
}

.advantages-list--item-cow::before {
  content: url("../img/cow.svg");
}

.advantages-list--item-eco::before {
  content: url("../img/eco.svg");
}

.advantages-list--item-therm::before {
  content: url("../img/thermometer.svg");
}

.news--subcribe {
  display: flex;
  justify-content: space-between;

  padding: 20px 2.3% 10px;
}

.news {
  width: 560px;
  height: 220px;

  padding: 10px;

  background-image: url("../img/news.png");
  background-repeat: no-repeat;
}

.news p.title {
  margin: 13px 10px 3px;

  color: #323232;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.news a {
  color: #323232;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.news a p {
  margin: 0 10px;
}

.subscribe {
  position: relative;

  width: 560px;
  height: 220px;
  padding: 18px 27px;

  background-image: url("../img/subscribe.png");
  background-repeat: no-repeat;
}

.subscribe p {
  color: #323232;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.subscribe button {
  position: absolute;
  right: 24px;
  bottom: 42px;

  padding: 10px 20px;
}

.subscribe input {
  width: 368px;
  height: 44px;
  margin-top: 20px;
  padding: 0 10px;

  border: 1px solid rgb(0 0 0 / 20%);

  border-radius: 5px;
}

.onmap {
  position: relative;

  padding: 30px 0 10px;
}

.onmap::before {
  position: absolute;
  top: 170px;
  left: 265px;

  content: url("../img/pin.svg");
}

.about {
  position: absolute;
  top: 92px;
  right: 28px;

  width: 302px;
  height: 305px;
  padding: 30px 27px;

  border-radius: 10px;
  background-color: white;
}

.about p {
  margin: 0;
  margin-bottom: 17px;

  color: #323232;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about strong {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.about b {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.about button {
  position: absolute;
  bottom: 30px;
  left: 28px;

  padding: 11px 28px;
}

.main-footer {
  display: flex;
  justify-content: space-between;

  height: 100px;

  padding: 0 2.3%;
}

.social-networks {
  display: flex;

  margin: 0;
  margin-top: 17px;

  padding: 0;

  list-style: none;
}

.social-networks svg {
  margin-right: 9px;

  border: 3px solid rgb(255 255 255 / 30%);
  border-radius: 50%;

  fill: rgb(255 255 255 / 80%);
}

.social-networks svg:hover {
  fill: white;
}

.social-networks svg:active {
  fill: rgb(255 255 255 / 60%);
}

.documents {
  display: flex;

  margin-top: 14px;
}

.documents::before {
  margin-right: 6px;

  content: url("../img/heart.svg");

  font-weight: 700;
}

.documents ul {
  margin: 0 30px 0 0;
  padding: 0;

  list-style: none;
}

.documents a {
  color: white;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  text-decoration-color: rgb(255 255 255 / 30%);
}

.html-academy p {
  margin: 0;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.html-academy p a {
  color: white;
  text-decoration-color: rgb(255 255 255 / 40%);
}
