::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #849d8f;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.none {
  display: none;
}

.page-wrapper {
  transition: all 0.2s;

  background-repeat: no-repeat;
  background-position: top center;
}

#promotions-slide1__togle:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/promotions-icecream-1.png");
}

#promotions-slide2__togle:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/promotions-icecream-2.png");
}

#promotions-slide3__togle:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/promotions-icecream-3.png");
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-direction: column;

  padding: 9px 2.3%;
}

.main-header__container {
  display: flex;
}

.main-header__navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  color: #fff;

  font-size: 16px;
  line-height: 18px;
}

.main-header__navigation_site {
  position: relative;

  display: flex;

  padding: 5px 0 0 10px;

  list-style: none;
}

.main-header__nav-link {
  padding: 6px 13.5px 8px;

  transition-duration: 0.2s;

  transition-property: color, background-color, box-shadow;

  text-decoration: underline;

  color: #fff;
  border-radius: 18px;

  font-weight: 700;
  text-decoration-color: rgb(255 255 255 / 30%);
}

.main-header__nav-link:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.main-header__nav-link:active {
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: inset 0 3px 2px rgb(0 0 0 / 50%);
}

.main-header__popup-wrapper_catalog {
  position: absolute;
  z-index: 1;
  top: 31px;
  left: 6px;

  visibility: hidden;

  padding-top: 5px;
}

.main-header__nav-link:hover ~ .main-header__popup-wrapper_catalog {
  visibility: visible;
}

.main-header__popup-wrapper_catalog:hover {
  visibility: visible;
}

.main-header__popup_catalog {
  width: 143px;
  height: 171px;
  padding: 0;

  list-style: none;

  color: black;

  border-radius: 5px;
  background-color: #f8f7f4;

  box-shadow: 0 10px 15px 3px rgb(0 0 0/ 50%);

  font-size: 14px;
  line-height: 16px;
}

.main-header__popup_catalog span {
  display: block;

  margin: 0 7px;

  padding: 13px 59px 13px 14px;

  border-bottom: 1px solid rgb(0 0 0 / 20%);

  font-weight: bold;
}

.main-header__popup_catalog a {
  display: block;

  padding: 8px 0 8px 20px;

  transition-duration: 0.2s;

  transition-property: background-color;

  text-decoration: none;

  color: black;
}

.main-header__popup_catalog a:hover {
  background-color: rgb(255 0 0 / 10%);
}

.main-header__popup_catalog a:active {
  background-color: rgb(255 0 0 / 30%);
}

.main-header__popup_catalog li:last-child a {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main-header__navigation_user {
  position: relative;

  display: flex;

  list-style: none;
}

.main-header__navigation_user > li {
  margin-left: 9px;
}

.main_header__button {
  cursor: pointer;
  transition-duration: 0.2s;

  transition-property: color, background-color;

  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: rgb(255 255 255 / 20%);

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.main_header__button:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.main-header__button_type_search {
  position: relative;

  width: 32px;
  height: 32px;
}

.main-header__button_type_search::before,
.main-header__button_type_search::after {
  position: absolute;
  top: 7px;
  left: 7px;

  content: url("../img/loupe.svg");
}

.main-header__button_type_search::after {
  content: url("../img/loupe--black.svg");
  transition-duration: 0.2s;
  transition-property: opacity;

  opacity: 0;
}

.main-header__button_type_login,
.main-header__button_type_basket {
  position: relative;

  padding: 8px 17px 8px 45px;
}

.main-header__button_type_login::before,
.main-header__button_type_login::after {
  position: absolute;
  top: 5px;
  left: 17px;

  content: url("../img/entrance.svg");
}

.main-header__button_type_login::after {
  content: url("../img/entrance--black.svg");
  transition-duration: 0.2s;
  transition-property: opacity;

  opacity: 0;
}

.main-header__button_type_basket::before,
.main-header__button_type_basket::after {
  position: absolute;
  top: 5px;
  left: 17px;

  content: url("../img/basket.svg");
}

.main-header__button_type_basket::after {
  content: url("../img/basket-red.svg");
  transition-duration: 0.2s;
  transition-property: opacity;

  opacity: 0;
}

.main-header__button_type_search:hover::after,
.main-header__button_type_login:hover::after,
.main-header__button_type_basket:hover::after {
  opacity: 1;
}

.main-header__popup-wrapper_search {
  position: absolute;
  z-index: 1;
  top: 32px;
  right: 211px;

  visibility: hidden;

  padding-top: 5px;
}

.main-header__button_type_search:hover ~ .main-header__popup-wrapper_search {
  visibility: visible;
}

.main-header__popup-wrapper_search:hover {
  visibility: visible;
}

.main-header__popup_search {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 341px;
  height: 84px;

  border-radius: 5px;
  background-color: #f8f7f4;

  box-shadow: 0 10px 15px 3px rgb(0 0 0/ 50%);
}

.main-header__popup_search input {
  width: 311px;
  height: 44px;
}

.main-header__popup-wrapper_login {
  position: absolute;
  z-index: 1;
  top: 32px;
  right: 110px;

  visibility: hidden;

  padding-top: 5px;
}

.main-header__button_type_login:hover ~ .main-header__popup-wrapper_login {
  visibility: visible;
}

.main-header__popup-wrapper_login:hover {
  visibility: visible;
}

.main-header__popup_login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  width: 277px;
  height: 214px;

  border-radius: 5px;
  background-color: #f8f7f4;

  box-shadow: 0 10px 15px 3px rgb(0 0 0/ 50%);
}

.main-header__popup_login input {
  width: 241px;
  height: 44px;
}

.main-header__popup_login button {
  padding: 10px 25px;
}

.main-header__login-panel {
  display: flex;
  justify-content: space-between;

  width: 241px;
}

.main-header__login-links {
  display: flex;
  flex-direction: column;

  font-size: 13px;
  line-height: 24px;
}

.main-header__information {
  display: flex;
  justify-content: right;

  text-align: right;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.main-header__information p {
  margin: 0;
  margin-bottom: -11px;
}

.main-header__information span {
  font-size: 22px;
  line-height: 24px;
}

.button {
  cursor: pointer;
  text-decoration: none;

  color: #fff;

  border: none;
  border-radius: 31px;
  background: linear-gradient(#f26843, #e74b36);
  box-shadow: 0 2px 2px rgb(172 16 0 / 60%);
  text-shadow: 0 2px 5px rgb(160 32 11 / 70%);

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.button:hover {
  background: linear-gradient(#f58669, #ec6f5e);
}

.button:active {
  background: linear-gradient(#d74632, #e1613e);
  box-shadow: inset 0 3px 2px rgb(0 0 0 / 50%);
}

.link {
  transition-duration: 0.2s;
  transition-property: color, text-decoration-color;
}

.link_white:hover {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.link_black {
  color: #323232;
}

.link_black:hover {
  color: #e84d37;
  text-decoration-color: #e84d37;
}

.input {
  padding: 0 20px;

  transition-duration: 0.2s;

  transition-property: border, box-shadow;

  border: 1px solid rgb(0 0 0 / 20%);

  border-radius: 5px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.input:hover {
  border: 1px solid rgb(0 0 0 / 40%);
  box-shadow: 0 0 0 1px rgb(0 0 0 / 40%);
}

.input:focus {
  border: 1px solid #8fbdec;
  outline: none;
  box-shadow: 0 0 0 1px #8fbdec;
}

.input::placeholder {
  color: rgb(0 0 0 / 40%);

  font-weight: 400;
}

.promotions-slider {
  position: relative;

  padding: 206px 2.3% 25px;

  list-style: none;

  text-align: center;

  font-weight: 700;
}

.promotions-slider__slide {
  display: none;
}

.promotions-slider__slide > h3 {
  margin-bottom: 37px;

  font-size: 60px;
  line-height: 60px;
}

.promotions-slider__slide > a {
  padding: 10px 40px 14px;

  font-size: 32px;
  line-height: 44px;
}

.promotions-slider__slider-control {
  position: absolute;
  z-index: 3;
  top: 436px;
  left: 28px;
}

.promotions-slider__slider-control label {
  display: inline-block;

  width: 20px;
  height: 20px;
  margin-right: 5px;

  cursor: pointer;
  transition-duration: 0.2s;

  transition-property: background-color;

  border: 2px solid white;
  border-radius: 50%;
}

.promotions-slider__slider-control label:hover {
  background-color: rgb(255 255 255 / 30%);
}

#promotions-slide1__togle:checked ~ .page-wrapper label[for="promotions-slide1__togle"],
#promotions-slide2__togle:checked ~ .page-wrapper label[for="promotions-slide2__togle"],
#promotions-slide3__togle:checked ~ .page-wrapper label[for="promotions-slide3__togle"] {
  background-color: rgb(255 255 255);
}

#promotions-slide1__togle:checked ~ .page-wrapper #promotions-slide1,
#promotions-slide2__togle:checked ~ .page-wrapper #promotions-slide2,
#promotions-slide3__togle:checked ~ .page-wrapper #promotions-slide3 {
  display: block;
}

.best-offers {
  position: relative;

  padding: 28px 2.3% 13px;

  font-weight: 700;
}

.best-offers__container {
  display: flex;
  justify-content: space-between;
}

.best-offers__item {
  position: relative;

  width: 560px;
  height: 229px;
  padding: 16px;
}

.best-offers__item_raspberries {
  background-image: url("../img/raspberries.png");
}

.best-offers__item_chocolate {
  background-image: url("../img/chocolate.png");
}

.best-offers__item > h3 {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
}

.best-offers__item > p {
  margin: 0;
  padding: 15px 0 0 5px;

  font-size: 18px;
  line-height: 22px;
}

.best-offers__item > a {
  position: absolute;
  right: 21px;
  bottom: 24px;

  padding: 11px 22px;
}

.hits {
  padding: 10px 2.3% 5px;
}

.hits__list {
  display: flex;
  justify-content: space-between;

  padding: 0;

  list-style: none;
}

.hits__item > a {
  display: block;

  text-decoration: underline;

  color: white;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration-color: rgb(255 255 255 / 40%);
}

.hits__link {
  margin-top: 10px;

  text-align: center;
}

.hits__item {
  position: relative;
}

.hits__item::before {
  position: absolute;
  z-index: 3;

  content: url("../img/hit.svg");
}

.hits__hover-wrapper {
  position: absolute;
  z-index: 1;
  top: -7px;
  left: -13px;

  display: flex;
  visibility: hidden;
  justify-content: center;

  width: 293px;
  height: 405px;

  border-radius: 5px;
  background-color: rgba(255 255 255 / 30%);
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 40%);
}

.hits__item:hover .hits__hover-wrapper {
  visibility: visible;
}

.hits__item:hover .hits__image,
.hits__item:hover .hits__link {
  position: relative;
  z-index: 2;
}

.hits__item:hover .hits__cost {
  z-index: 3;
}

.hits__item:hover .hits__hover-wrapper {
  visibility: visible;
}

.hits__button {
  position: absolute;
  bottom: 15px;

  padding: 12px 15px;
}

.hits__cost {
  position: absolute;
  top: 165px;

  text-shadow: rgb(0 0 0 / 40%) 1px 0 3px;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.hits__cost span {
  margin-left: -10px;

  font-size: 30px;
}

.advantages {
  padding: 0 2.3% 20px;

  color: #323232;
}

.advantages__container {
  width: 1146px;
  height: 306px;

  background-image: url("../img/waffle.png");
}

.advantages p {
  margin: 0;
  padding: 25px 20px 0;

  letter-spacing: 0.1px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 8px 20px 20px;

  list-style: none;
}

.advantages__item {
  position: relative;

  padding: 12px 20px 10px 55px;
}

.advantages__item_type_icecream::before,
.advantages__item_type_cow::before,
.advantages__item_type_eco::before,
.advantages__item_type_therm::before {
  position: absolute;
  top: 0;
  left: 0;
}

.advantages__item_type_icecream::before {
  content: url("../img/ice-cream.svg");
}

.advantages__item_type_cow::before {
  content: url("../img/cow.svg");
}

.advantages__item_type_eco::before {
  content: url("../img/eco.svg");
}

.advantages__item_type_therm::before {
  content: url("../img/thermometer.svg");
}

.news-subscribe-wrapper {
  display: flex;
  justify-content: space-between;

  padding: 20px 2.3% 10px;
}

.news {
  width: 560px;
  height: 220px;

  padding: 10px;

  background-image: url("../img/news.png");
  background-repeat: no-repeat;
}

.news__title {
  margin: 13px 10px 3px;

  color: #323232;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.news__link {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.news__link > p {
  margin: 0 10px;
}

.subscribe {
  position: relative;

  width: 560px;
  height: 220px;
  padding: 18px 27px;

  background-image: url("../img/subscribe.png");
  background-repeat: no-repeat;
}

.subscribe > p {
  color: #323232;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.button_subscribe {
  position: absolute;
  right: 24px;
  bottom: 42px;

  padding: 10px 20px;
}

.subscribe input {
  width: 368px;
  height: 44px;
  margin-top: 20px;
}

.onmap {
  position: relative;

  padding: 30px 0 10px;
}

.onmap__about {
  position: absolute;
  top: 92px;
  right: 28px;

  width: 302px;
  height: 305px;
  padding: 30px 27px;

  border-radius: 10px;
  background-color: white;
}

.onmap__about p {
  margin: 0;
  margin-bottom: 17px;

  color: #323232;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.onmap__about strong {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.onmap__about b {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.onmap__about button {
  position: absolute;
  bottom: 30px;
  left: 28px;

  padding: 11px 28px;
}

.main-footer {
  display: flex;
  justify-content: space-between;

  height: 100px;

  padding: 0 2.3%;
}

.social-media {
  display: flex;

  margin: 0;
  margin-top: 18px;

  padding: 0;

  list-style: none;
}

.social-media a {
  position: relative;

  display: block;

  width: 38px;
  height: 38px;
  margin-right: 11px;

  transition: all 0.2s;

  border: 4px solid rgb(255 255 255 / 50%);
  border-radius: 50%;
  background: transparent;
}

.social-media a::before {
  position: absolute;

  width: 32px;
  height: 32px;

  content: "";

  transition: all 0.2s;

  transform: translate(-1px, -1px);

  opacity: 0.8;

  border-radius: 50%;
}

.social-media a:hover::before {
  opacity: 1;
}

.social-media a:active::before {
  opacity: 0.8;
  box-shadow: inset 0 2px 2px rgb(0 0 0 / 50%);
}

.social-media :nth-child(1) a::before {
  background-image: url("../img/twitter.svg");
}

.social-media :nth-child(2) a::before {
  background-image: url("../img/instagram.svg");
}

.social-media :nth-child(3) a::before {
  background-image: url("../img/fb.svg");
}

.social-media :nth-child(4) a::before {
  background-image: url("../img/vk.svg");
}

.documents {
  display: flex;

  margin-top: 14px;
}

.documents::before {
  margin-right: 6px;

  content: url("../img/heart.svg");

  font-weight: 700;
}

.documents ul {
  margin: 0 30px 0 0;
  padding: 0;

  list-style: none;
}

.documents a {
  color: white;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  text-decoration-color: rgb(255 255 255 / 40%);
}

.html-academy p {
  margin: 0;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.html-academy p a {
  color: white;
  text-decoration-color: rgb(255 255 255 / 40%);
}
